@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "node_modules/bootstrap/scss/bootstrap.scss";

:root {
    --bs-font-sans-serif: Poppins;
}
.navbar {
    position: fixed;
    width: 100%;
    margin-bottom: 100px;
    display: block;
}

#navButtons {
    font-weight: 600;
    color: #252525;
}
#navButtons:hover {
    text-decoration: underline;
}
#linkButtons {
    color: #252525;
}
#linkButtons:hover {
    color: #707070;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    scroll-snap-type: y mandatory;
}
section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

/* Fixed minimum value below the minimum breakpoint */
.fluidText {
    font-size: 32px;
  }
  
  /* Fluid value from 568px to 768px viewport width */
  @media screen and (min-width: 300px) {
    .fluidText {
      font-size: calc(32px + 16 * ((100vw - 568px) / (768 - 568)));
    }
  }
  
  /* Fixed maximum value above the maximum breakpoint */
  @media screen and (min-width: 1000px) {
    .fluidText {
      font-size: 80px;
    }
  }

  #introText {
    margin-top: 70px;
    float:left;
    display: block;
    max-width: 50%;
    padding-right: 50px;
  }
  #headShot {
    height: 50%;
    width: 50%;
  }
  .linkArea {
    display: block;
    width: 100%;
  }
  #words {
    max-width: 400px;
    height: 192px;
  }
  #headShotDiv {
    max-width: 50%;
  }

  @media screen and (max-width: 300px) {
    #introTextDiv {
      width: 100%;
      display: block;
    }
  }

  .pictureOfMe {
    margin-top: 70px;
    position: absolute;
    right: 5%;
    height: auto;
    width: 50%;
  }
  @media screen and (max-width: 800px) {
    .pictureOfMe {
      width: 100%;
      height: auto;
      display: block;
      position: absolute;
      bottom: -5%;
    }
  }